<li>
    <ul>
        <li class="product-item gap14 mb-10">
            <div class="image no-bg">
                <img src="{{ asset('uploads/products/thumbnails') }}/${item.image}" alt="${item.name}">
            </div>
            <div class="flex items-center justify-between gap20 flex-grow">
                <div class="name">
                    <a href="${link}" class="body-text">${item.name}</a>
                </div>
            </div>
        </li>
        <li class="mb-10">
            <div class="divider"></div>
        </li>
    </ul>
</li>

<script>
    $(function() {
        $("#search-input").on("keyup", function() {
            var searchQuery = $(this).val();
            if (searchQuery.length > 2) {
                $.ajax({
                    type: "GET",
                    url: "{{ route('home.search') }}",
                    data: {
                        query: searchQuery
                    },
                    dataType: 'json',
                    success: function(data) {
                        $("#box-content-search").html('');
                        $.each(data, function(index, item) {
                            var url = "{{ route('shop.product.details', ['product_slug' => 'product_slug_pls']) }}";
                            var link = url.replace('product_slug_pls', item.slug);

                            $("#box-content-search").append(`
                            <li>
                                <ul>
                                    <li class="product-item gap14 mb-10">
                                        <div class="image no-bg">
                                            <img src="{{ asset('uploads/products/thumbnails') }}/${item.image}" alt="${item.name}">
                                        </div>
                                        <div class="flex items-center justify-between gap20 flex-grow">
                                            <div class="name">
                                                <a href="${link}" class="body-text">${item.name}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-10">
                                        <div class="divider"></div>
                                    </li>
                                </ul>
                            </li>
                            `);
                        });
                    }

                });
            }
        });
    });
</script>
